<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading pin_image">
        <%= image_tag @pin.image.url %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @pin.title %>
        </h1>
        <p class="description">
          <%= @pin.description %>
        </p>

        <div id="comments">
          <h3 class="comment_count">
            <%= pluralize(@pin.comments.count, "Comment") %>
          </h3>
          <% @comments.each do |comment| %>
              <div class="comment_author">
                <p style="color:#2372B2">Comment by:
                  <%= comment.user.email if comment.user %> </p>
                <div class="btn-group pull-right">
                  <%= link_to "Edit",edit_pin_comment_path(comment.pin, comment), class: "btn btn-default" %>
                  <%= link_to "Delete", [comment.pin, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
                </div>
                <p class="comment_content">
                  <%= comment.comment %>
                </p>
              </div>
          <% end %>
          <%= render "comments/form" %>
        </div>


      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              User's email:
              <%= @pin.user.email %>
            </p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_pin_path(@pin), method: :get, class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                  <%= @pin.get_upvotes.size %>
              <% end %>
              <div class="btn-group pull-right">
                <%= link_to dislike_pin_path(@pin), method: :get, class: "btn btn-default" do %>
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    <%= @pin.get_downvotes.size %>
                <% end %>

              <% if user_signed_in? %>
                  <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
                  <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

